################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ParallelLinq
/bin/Debug/net8.0
/obj

.vs
bin